<h1>EAT! THAT! BURGER!</h1>

<h2>Enter the burger you want to eat. Click the submit button when finished.</h2>

<h2>Not Eaten</h2>

<ul>
  {{#each hbsObject}}
    {{#unless devoured}}
      {{> burgers/burger-block uneaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten</h2>

<ul>
  {{#each hbsObject}}
    {{#if devoured}}
      {{> burgers/burger-block uneaten=false}}
    {{/if}}
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger-input" name="burger-name">
  </div>

  <div class="form-group">
    <label for="eaten">Want to eat it?</label><br>
    <input type="radio" name="devoured" value="1"> Devour it!<br>
    <input type="radio" name="uneaten" value="0"> Don't Eat It!
  </div>

  <button type="submit">Add Burger</button>
</form>
<script src="../../public/js/burger.js"></script>